<!--<h1>🤔🤨🤔🤔</h1>-->
<div id="root">
  <div id="app-container">
    <div class="convo-container">
      <div *ngIf="activateTouAg">
        <div class="bot-message-container" id="TsAg">
          <div class="img-avatar-container">
            <img class="bot-avatar"
                 src="assets/images/téléchargement.jpg"
                 alt="bot avatar">
          </div>
          <div class="chat-bubble bot">
            <h1>
              probléme chez tous les agents ? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h1>
          </div>
        </div>
        <div class="bot-message-container" style="margin-left: 100px" id="blocTsAg">
          <button type="button" class="btn btn-outline-primary" (click)="problemTsAg('blocTsAg', 'TsAg')">
            Oui
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-primary" (click)="nonTsAg('blocTsAg', 'TsAg')">
            Non
          </button>
        </div>
      </div>

      <div *ngIf="activateCnxInternet">
        <div class="bot-message-container" id="CnxInternet">
          <div class="img-avatar-container">
            <img class="bot-avatar"
                 src="assets/images/téléchargement.jpg"
                 alt="bot avatar">
          </div>
          <div class="chat-bubble bot">
            <h1>
              Merci de vérifier votre connexion internet ? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h1>
          </div>
        </div>
        <div class="bot-message-container" style="margin-left: 100px" id="blocCnxInternet">
          <button type="button" class="btn btn-outline-primary" (click)="problemCnxInternet('blocCnxInternet', 'CnxInternet')">
            Bon
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-primary" (click)="nonCnxInternet('blocCnxInternet', 'CnxInternet')">
            Mauvais
          </button>
        </div>
      </div>

      <div *ngIf="activateTestEcho">
        <div class="bot-message-container" id="TestEcho">
          <div class="img-avatar-container">
            <img class="bot-avatar"
                 src="assets/images/téléchargement.jpg"
                 alt="bot avatar">
          </div>
          <div class="chat-bubble bot">
            <h1>
              test d'écho depuis le CRM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h1>
          </div>
        </div>
        <div class="bot-message-container" style="margin-left: 100px" id="blocTestEcho">
          <button type="button" class="btn btn-outline-primary" (click)="problemTestEcho('blocTestEcho', 'TestEcho')">
            Oui
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-primary" (click)="nonTestEcho('blocTestEcho', 'TestEcho')">
            Non
          </button>
        </div>
      </div>
      <div *ngIf="activateRedamarageCnx">
        <div class="bot-message-container" id="RedmrgCnx">
          <div class="img-avatar-container">
            <img class="bot-avatar"
                 src="assets/images/téléchargement.jpg"
                 alt="bot avatar">
          </div>
          <div class="chat-bubble bot">
            <h1>
              redemarrage connexion &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h1>
          </div>
        </div>
        <div class="bot-message-container" style="margin-left: 100px" id="blocRedmrgCnx">
          <button type="button" class="btn btn-outline-primary" (click)="problemRedmrgCnx('blocRedmrgCnx', 'RedmrgCnx')">
            Oui
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-primary" (click)="nonRedmrgCnx('blocRedmrgCnx', 'RedmrgCnx')">
            Non
          </button>
        </div>
      </div>


    </div>
  </div>
</div>
