
<div class="container">
  <div class="row">
    <div style="margin-top: 40px">
      <button type="button" class="btn btn-outline-primary embauche "
               (click)="selectItem('white')">
        <span>white liste  un numéro</span>
      </button>
      <button type="button" class="btn btn-outline-primary embauche "
               (click)="selectItem('black')">
        <span>black liste un numéro</span>
      </button>
      <button type="button" class="btn btn-outline-primary embauche "
               (click)="selectItem('chargement')">
        <span>chargement avec carte banquaire</span>
      </button>
    </div>
  </div>
  <div>
    <div class="row" *ngIf="isActivate" style="padding: 10px; margin-top: 30px">
      <app-items-bbilling></app-items-bbilling>
    </div>
  </div>
</div>