<div>
  <app-attente *ngIf="activateAttente"></app-attente>
  <app-import-fichier *ngIf="activateImpoFich"></app-import-fichier>
  <app-dedoublonnage *ngIf="activateDedoub"></app-dedoublonnage>
  <app-lecture-crm *ngIf="activateLeceCrm"></app-lecture-crm>
  <app-reception-nf *ngIf="activateRecpNF"></app-reception-nf>
  <app-fiche-muettes *ngIf="activateFichMutt"></app-fiche-muettes>
  <app-decalage-fich-appel *ngIf="activateDecalage"></app-decalage-fich-appel>
  <app-agenda *ngIf="activateAgenda"></app-agenda>
  <app-chercher-contact *ngIf="activateContrat"></app-chercher-contact>
  <app-fiche-appel *ngIf="activateApple"></app-fiche-appel>
</div>
