<!--<h1>🤔🤨🤔🤔</h1>-->
<div id="root">
  <div id="app-container">
    <div class="convo-container">
      <div *ngIf="activateTouAg">
        <div class="bot-message-container" id="agent">
          <div class="img-avatar-container">
            <img class="bot-avatar"
                 src="assets/images/téléchargement.jpg"
                 alt="bot avatar">
          </div>
          <div class="chat-bubble bot">
            <h1> Chez tous les agents ? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h1>
          </div>
        </div>
        <div class="bot-message-container" style="margin-left: 100px" id="blocAgent">
          <button type="button" class="btn btn-outline-primary" (click)="problemTouAg('blocAgent', 'agent')">
            Oui
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-primary"
                  (click)="nonTouAge('blocAgent', 'agent')">Non
          </button>
        </div>
      </div>

      <div *ngIf="activateVerif">
        <div class="bot-message-container" id="verifier">
          <div class="img-avatar-container">
            <img class="bot-avatar"
                 src="assets/images/téléchargement.jpg"
                 alt="bot avatar">
          </div>
          <div class="chat-bubble bot">
            <h1> Vérifier la connexion internet &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h1>
          </div>
        </div>
        <div class="bot-message-container" style="margin-left: 100px" id="verifierBloc">
          <button type="button" class="btn btn-outline-primary" (click)="problemVerif('verifierBloc', 'verifier')">
            Oui
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-primary"
                  (click)="nonVerif('verifierBloc', 'verifier')">Non
          </button>
        </div>
      </div>

      <div *ngIf="activateRedmar">
        <div class="bot-message-container" id="redmaer">
          <div class="img-avatar-container">
            <img class="bot-avatar"
                 src="assets/images/téléchargement.jpg"
                 alt="bot avatar">
          </div>
          <div class="chat-bubble bot">
            <h1> Redémarrer votre connexion ? </h1> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          </div>
        </div>
        <div class="bot-message-container" style="margin-left: 100px" id="redemarerBloc">
          <button type="button" class="btn btn-outline-primary" (click)="problemRedmarCnx('redemarerBloc', 'redmaer')">
            Persiste
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-primary"
                  (click)="nonRedmar('redemarerBloc', 'redmaer')">Résolut
          </button>
        </div>
      </div>


    </div>
  </div>
</div>
