<!--<h1>🤔🤨🤔🤔</h1>-->
<div id="root">
  <div id="app-container">
    <div class="convo-container">
      <div *ngIf="activateDialogue">
        <div class="bot-message-container" id="verification">
          <div class="img-avatar-container">
            <img class="bot-avatar"
                 src="assets/images/téléchargement.jpg"
                 alt="bot avatar">
          </div>
          <div class="chat-bubble bot">
            <h1>SVP verifiez le format de numéro ? </h1>
          </div>
        </div>
        <div class="bot-message-container" style="margin-left: 100px" id="blockNum">
          <button type="button" class="btn btn-outline-primary rounded" (click)="bienForme('blockNum', 'verification')">
            Bon
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-primary embauche"
                  (click)="verfierNon1('blockNum', 'verification' )">Mauvais
          </button>
        </div>
      </div>
      <!-- taux de décroché *********************************************************** ************************** ****-->
      <div *ngIf="activateDecrocher">
        <div class="bot-message-container" id="decroche">
          <div class="img-avatar-container">
            <img class="bot-avatar"
                 src="assets/images/téléchargement.jpg"
                 alt="bot avatar">
          </div>
          <div class="chat-bubble bot">
            <h1 #messageVerifaction>
              Taux de décroché &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h1>
          </div>
        </div>
        <div class="bot-message-container" style="margin-left: 100px" id="DecOuiNon" *ngIf="activateDecrocher">
          <button type="button" class="btn btn-outline-primary rounded" (click)="decrocheOui('DecOuiNon', 'decroche')">
            Bon
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-primary embauche"
                  (click)="verifierNonDecro('DecOuiNon', 'decroche')">Mauvais
          </button>
        </div>
      </div>

      <div *ngIf="activateContact">
        <div class="bot-message-container" id="contact">
          <div class="img-avatar-container">
            <img class="bot-avatar"
                 src="assets/images/téléchargement.jpg"
                 alt="bot avatar">
          </div>
          <div class="chat-bubble bot">
            <h1>
              Contact restant &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h1>
          </div>
        </div>
        <div class="bot-message-container" style="margin-left: 100px" id="ContactOuiNon" *ngIf="activateDecrocher">
          <button type="button" class="btn btn-outline-primary"
                  (click)="ContactOui('ContactOuiNon', 'contact')">
            Oui
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-primary"
                  (click)="verfierNonContact('ContactOuiNon', 'contact')">Non
          </button>
        </div>
      </div>


      <div *ngIf="activateSolde">
        <div class="bot-message-container" id="solde">
          <div class="img-avatar-container">
            <img class="bot-avatar"
                 src="assets/images/téléchargement.jpg"
                 alt="bot avatar">
          </div>
          <div class="chat-bubble bot">
            <h1>
              Solde &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h1>
          </div>
        </div>
        <div class="bot-message-container" style="margin-left: 100px" id="soldeOuiNon" *ngIf="activateDecrocher">
          <button type="button" class="btn btn-outline-primary rounded"
                  (click)="soldeOui('soldeOuiNon', 'solde')">
            Oui
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-primary embauche"
                  (click)="verfiNonSolde('solde', 'soldeOuiNon')">Non
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
